/* floating_map.css */
.floating-bubble {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 9999;
}

.floating-bubble img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
@media (max-width: 576px) {
    .floating-bubble {
        width: 50px;
        height: 50px;
        bottom: 10px;
        right: 10px;
    }
}
